.Tabs {
    width: 80%;
    height: auto;
    min-height: 400px;
    background: #053742;
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #E8F0F2;
    border-radius: 2rem;
    @media (max-width: 769px) {
      padding: 2rem 0;
    }
   
  }
  
  .Tabs > .TabContent {
    font-size: 2rem;
    text-align: center;
  }
  
  /* Tab Navigation */
  .Tabs > ul.nav {
    width: 60%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  .Tabs > ul.nav > li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
  }
   
  .Tabs > ul.nav > li:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
   
  .Tabs > ul.nav > li:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
   
  .Tabs > ul.nav > li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
   
  .Tabs > ul.nav > li.active {
    background: #39A2DB;
  }
   

  /*


.Tabs {
    width: 80%;
    height: auto;
    min-height: 400px;
    background: #053742;
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #E8F0F2;
    border-radius: 2rem;
    @media (max-width: 769px) {
      padding: 2rem 0;
    }
   
    .TabContent {
      font-size: 2rem;
      text-align: center;
    }
    
    ul.nav {
      width: 60%;
      margin: 0 auto 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #39A2DB;
      border-radius: 2rem;
      padding-left: 0px;
      @media (max-width: 768px) {
        width: 90%;
      }
      li {
        width: 50%;
        padding: 1rem;
        list-style: none;
        text-align: center;
        cursor: pointer;
        transition: all 0.7s;
      }
       
      li:first-child {
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
      }
       
      li:last-child {
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
      }
       
      li:hover {
        background: rgba(50, 224, 196, 0.15);
      }
       
      li.active {
        background: #39A2DB;
      }
    }
     
  }
   

  */