

// side-menu-panels
// main panel
$primary-color: #121212;

$secondary-color: #171717; 
$third-color: #181818; 

// media-bar
// background
$forth-color: #000000; 

$fifth-color: #1c1c1c;


$text-primary-color: #ffffff;
