@import './../../styles.scss';

$side-menu-width: 250px;

.layout {
    --side-menu-width: 250px;

    width: 100vw;
    background-color: $primary-color;
    // padding: 30px;
    padding-bottom: 0;
    color: #ffffff;
    margin-bottom: 80px;

    padding-left: 300px;
    .side-menu {
        --side-menu-width: 250px;
        
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: var(--side-menu-width, 250px);
        background-color: #040404;
        color: #b3b3b3;
        padding: 30px 20px;
        z-index: 10;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: flex;
            align-items: center;
            font-size: 18px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: color 0.2s ease;

            i {
                margin-right: 10px;
                font-size: 20px;
            }

            &:hover {
                color: #ffffff;
            }
        }

        .active {
            color: #ffffff;
            font-weight: bold;
        }
    }
}