
.album-list-container {
    display: flex;
    flex-flow: column;
    h2 {
        
        width: min-content;
        align-self: start;
    }
    .spotify-album-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 24px;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
